<!DOCTYPE html>
%html(lang="en")
    %head
        %meta(charset="UTF-8")/
        %meta(name="viewport" content="width=device-width, initial-scale=1.0")/
        %meta(http-equiv="X-UA-Compatible" content="ie=edge")/
        %title Document 
    %body
        %p#one
            Hello, World
        %p.two#two
            Hello, World!!!!!
        %p.three 
            Hello, World!!!!!111111111111111
            -#just fot test
        %br
        %img(src="some.jpg" alt="image")
        .somediv 
            %p 
                Some text for example
            / commentary
        .someotherdiv    
    /   several